body{
  background-color: #f6f6f6;
  min-width: 650px;
  .header{
    height: 56px;
    width: 100%;
    padding: 0 150px;
    background-color: #55c5;
    color: #fff;
    
    justify-content: space-between;
    &__left--btn{
      font-size: 40px;
      text-decoration: none;
    }
    &__right{
        text-decoration: none;
        line-height: 56px;
        color: #fff;
        margin-left:15px;
    }
  }
}