= render 'layouts/header'
.recommendation-header
  .recommendation-header__top
    みんなのオススメホラー映画
.recommendation-heading
  .recommendation-heading__title
    日常に「ゾクゾク」をくれるホラー映画

  

-# .recommendation__comment
-#   .recommendation__comment__field
-#     - if user_signed_in?
-#       = form_for [@post, @comment] do |f|
-#         = f.text_area :content, placeholder: "コメントする", class: 'comment-box'
-#         = f.submit "SEND", class: "form__submit"

-#         = render partial: 'likes/like', locals: { post: @post, likes: @likes}
-#     - else
-#       .recommendation__comment__field__disabled-post
-#         コメントを投稿するには
-#         = link_to "ログイン", new_user_session_path, class: "log-in"
-#         、または
-#         = link_to "新規登録", new_user_registration_path, class: "log-in"
-#         をしてください。
          


-#     .recommendation__comment__list
-#       .recommendation__comment__list__display
-#         「
-#         = @post.title
-#         」
-#         %br
-#         に投稿された感想・評価（ネタバレあり）
-#       .recommendation__comment__list__content
-#         - @comments.each do |comment|
-#           .recommendation__comment__list__content__each
-#             「
-#             = comment.user.username
-#             」さんの感想・評価
-#             %span.show__comment__list__content__each__test
-#               = comment.created_at.strftime("%Y年%m月%d日 %H時%M分")
-#             %br
-#             = comment.content