.show {
  height: 100%;
  width: 100%;
  background-color: #eee;
  padding-top: 80px;
  &__top-box {
    display: flex;
    // justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
    &__pic {
      text-align: center;
      box-shadow: 10px 10px 15px -10px;
    }
    &__introduction {
      margin-left: 40px;
      background-color: white;
      width: 600px;
      padding: 10px;
      &__title {
        font-size: 30px;
        height: 45px;
        font-weight: bold;
        margin-bottom: 7px;
        &__date {
          font-size: 18px;
          padding-left: 10px;
        }
      }
      &__favourite {
        background-color: #55c5;
        border-radius: 20px;
        width: 220px;
        padding: 3px;
        font-size: 18px;
      }
      &__genre {
        font-size: 18px;
      }
      &__country {
        font-size: 18px;
      }
      &__director {
        font-size: 18px;
      }
      &__story {
        padding-top: 10px;
        font-weight: bold;
        font-size: 26px;
      }
      &__story-detail {
        font-size: 17px;
      }
    }
  }
  &__comment {
    background-color: white;
    height: 100%;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    // box-shadow: black;
    // box-sizing: border-box;
    &__field {
      &__disabled-post {

      }
    }
    &__list {
      padding-top: 20px;
      &__display {
        padding: 15px;
        background-color: #dfdfdf;
        font-size: 22px;
        font-weight: 600;
      }
      &__content {
        &__each {
          padding: 15px;
          background-color: #dfdfdf;
          margin-top: 20px;
          border: 1px solid #eee;
          line-height: 1.57;
          letter-spacing: 0.15em;
          font-size: 16px;
          color: #666;
          text-align: left;
          &__test {
            font-size: 13px;
          }
        }
      }
    }
  }
}








.comment-box {
  height: 120px;
  width: 500px;
  font-size: 20px;
}
.form__submit {
  background-color: red;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 600px;
  height: 40px;
  margin-top: 30px;
}
.log-in {
  text-decoration: none;
}
.notification{
  background-color: red;
  color: white;
  text-align: center;
}

// .aaaaa {
//   position: absolute;
//   top: 250px;
//   left: 790px;
//   font-size: 20px;
// }