
.aaa {
  background-image: url("racheal-lomas-XA4pd4-cVps-unsplash.jpg");
  height: 300px;
  width: 100%;
}
.main {
  padding: 80px 0 0;
  background-color: #eee;
  height: 6200px;
  &__total {
    font-size: 20px;
    text-align: center;
  }
  &__content {
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    &__each {
      overflow: hidden;
      width: 200px;
      height:350px;
      background-color: white;
      margin-top: 10px;
      margin-left: 10px;
      text-align: center;
      font-size: 18px;
      &__favourite {
        font-size: 15px;
        float: left;
      }
      &__star {
        font-size: 15px;
        float: right;
      }
    }
  }
  &__zombie {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__murderer {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__thriller {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__monster {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__occult {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__japanese {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
  &__grotesque {
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
  }
}
